.fc {
  font-size: 12px;
  font-weight: 700;
  color: rgb(82, 82, 82);
}

.custom-calendar.fc-day-today {
  background-color: #ffeb3b;
}

.fc-day:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.fc-daygrid-day-number {
  font-size: 14px;
  font-weight: 700;
}

:root {
  --fc-border-color: rgb(177, 175, 175);
  --fc-daygrid-event-dot-width: 5px;
}

.fc-daygrid-day {
  height: 10px;
}

.highlighted-date {
  background-color: #ffeb3b !important; /* Highlight color for clicked date */
  color: #000;
  border-radius: 50%;
}

/* Reduce the size of each date box */
.custom-calendar .fc-daygrid-day-frame {
  padding: 2px !important;
}

.custom-calendar .fc-daygrid-day.fc-day-today {
  background-color: #4f46e5; /* Highlight for the clicked date */
  color: white;
}
